<div class="dates-wrapper">
  <div class="weeks-wrapper" #weeksWrapper>
    <swiper-container
      #swiper
      [class.swiper-hidden]="!showWeeksSlider"
      init="false"
      [config]="weeksSliderConfig"
      class="container weeks-slider"
    >
      <swiper-slide class="single-item" *ngFor="let week of weeksWithDays">
        <div class="week">
          <div class="day" *ngFor="let day of week">{{ getDate(day) }}</div>
        </div>
      </swiper-slide>
    </swiper-container>
    <div class="weeks" #weeks [hidden]="showWeeksSlider">
      <div class="week" #week *ngFor="let week of weeksWithDays">
        <div class="day" *ngFor="let day of week">{{ getDate(day) }}</div>
      </div>
    </div>
  </div>
</div>
