@import '../../mixins';

.day {
  @include calendar-day();
}

.weeks-wrapper {
  position: relative;
  overflow: hidden;
}

.weeks {
  position: relative;
  top: 0;
}

.weeks-slider {
  background: rgba(100, 100, 100, 0.2);
}

.swiper-hidden {
  display: none !important;
}
