<div class="container">
  <div class="calendar-head">
    <button (click)="slidePrev()">Prev</button>
    <span class="month">{{ currentMonth }}</span>
    <button (click)="slideNext()">Next</button>
  </div>
  
  <div class="week-days">
    <div class="week-day" *ngFor="let weekDay of weekDays">
      {{ weekDay }}
    </div>
  </div>
  <div class="sliders">
    <gale-months-slider [selectedDate]="startDate" [calendarOptions]="calendarOptions" (viewDateChange)="onMonthViewDateChange($event)" />
    <gale-weeks-slider [selectedDate]="startDate" [calendarOptions]="calendarOptions" (viewDateChange)="onWeekViewDateChange($event)" />
  </div>
  <button (click)="switchView()">Switch view</button>
</div>
