@import '../../mixins';

:host {
  display: block;
}

.week-day {
  @include calendar-day();
}

.calendar-head {
  display: flex;
}

.sliders {
  position: relative;
  overflow: hidden;
}

gale-months-slider {
  margin-top: 0px;
  margin-bottom: 0px;
}

[hidden] {
  display: none !important;
}
