@import '../../mixins';

:host {
  display: block;
}

.week-day {
  @include calendar-day();
}

.calendar-head {
  display: flex;
}

.sliders {
  position: relative;
  overflow: hidden;
}

gale-weeks-slider {
  position: absolute;
  top: 0;
}
